@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
/* PRODUCT RANGE SLIDER */
.range-slider { padding: 20px 20px 80px !important; }
.input-range__slider { 
    width: 20px !important;
    height: 20px !important;
    margin-left: -10px !important;
    margin-top: -12px !important;
}
.input-range__label--value { display: none; }
.input-range__label--min, .input-range__label--max { position: static !important; display: inline-block !important; border: 1px solid #f3f3f3; background-color: #f3f3f3; width: 44%; line-height: 40px;
    font-size: 12px; text-align: center; color: #000; margin: 30px 0 0 0; }
.input-range__label-container { position: static; }
.input-range__label--max { margin-left: 10%; }
.input-range__label-container, .input-range__label-container { left: auto !important; }
.filter-arya .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle{ background: #fff; border-color: #c5c5c5; color: #58595b; }
.filter-arya .btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus { box-shadow: none; }
/* END PRODUCT RANGE SLIDER */
.filter-arya .btn-group i {
    background-image: url(../images/spritesheet.png);
    background-position: -134px -132px;
    width: 12px;
    height: 7px;
    display: inline-block;
    margin-left: 10px;
}