@import url('fonts.css');
@import url('jquery-ui.css');

/* Chrome/Opera/Safari */
::-webkit-input-placeholder { color: #bc3f3d; font-size: 14px;}
::-webkit-selection{background:#f89c2e;color:#fff;text-shadow:0 0 transparent}
 /* Firefox 19+ */
::-moz-placeholder { color: #bc3f3d; font-size: 14px;}
::-moz-selection{background:#f89c2e;color:#fff;text-shadow:0 0 transparent}
 /* IE 10+ */
:-ms-input-placeholder {color: #bc3f3d; font-size: 14px;}
::-ms-selection{background:#f89c2e;color:#fff;text-shadow:0 0 transparent}
/* Firefox 18- */
:-moz-placeholder {  color: #bc3f3d;  font-size: 14px;}
::selection{background:#f89c2e;color:#fff;text-shadow:0 0 transparent}
img {-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none; max-width:100%;transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out;}
a {transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out;}
a:hover {text-decoration:none; }
h3 {font-family: 'Cinzel', serif;}
/* body, */
/* html {overflow-x:hidden; height:100%} */
body {font-family: 'Lato', sans-serif;}
.btn {border-radius:0;}
header.row {position:relative; z-index: 100; background:#fff;}
.off-canvas-nav {position: fixed; width: 260px; left: -260px; background-color: #f3f3f3; border-right: 1px solid #c5c5c5; overflow-y: auto; z-index: 9; height:100%; overflow-x:hidden; overflow-y:auto}
.off-canvas-nav .list-inline {background: #fff; margin: 0;border-bottom: 1px solid #ccc;}
.off-canvas-nav .list-inline li.list-inline-item {width:49%; margin:0; text-align:center}
.off-canvas-nav .list-inline li.list-inline-item:not(:last-child) { border-right: 1px solid #c5c5c5;}
.off-canvas-nav .list-inline li a {display:block; padding:15px 10px;}
.off-canvas-nav .list-unstyled li {position:relative}
.off-canvas-nav .list-unstyled li+li:after { content: " "; position: absolute; top: 0; left: 20px; right: 20px; height: 1px; background-color: #c5c5c5;}
.off-canvas-nav .list-unstyled a {position: relative; cursor: pointer; line-height: 40px; padding:0 20px;color: #58595b;text-transform: uppercase; font-size: 12px; display: block;}
.off-canvas-nav li.parent>a:after { content: ""; float: right; background-image: url(../images/spritesheet.png); background-position: -257px -232px; width: 7px; height: 12px; margin: 14px 0;}
.off-canvas-nav .subMenu>div>span {text-align:right; position:relative;line-height:40px; padding: 0 15px; font-size: 12px; cursor:pointer}
.off-canvas-nav .subMenu>div>span:before { content: ""; display:inline-block; background-image: url(../images/spritesheet.png); background-position: -257px -220px; width: 7px; height: 12px; margin:-2px 8px;}
.subMenu {display: block; position: absolute; top: 0; height: 100%; width: 100%; right: -100%; text-transform: uppercase; background-color: #f3f3f3; overflow-x: hidden; overflow-y: auto;transition: transform .2s cubic-bezier(.215,.61,.355,1) .3s,right .3s cubic-bezier(.55,.055,.675,.19); transform-origin: 50% 0;}
.subMenu.openSub {transition: transform .2s cubic-bezier(.215,.61,.355,1) .3s,right .3s cubic-bezier(.215,.61,.355,1) .2s; right: 0;}
.left-nav {position: relative; height: calc(100% - 60px); overflow: hidden;}
.left-nav-toplink { height: calc(100% - 165px); position: relative; background-color: #fff; height: calc(100% - 60px); overflow: hidden;}
.leftSearch {position: absolute; bottom: 0; left: 0; height: 60px; width: 100%; overflow: hidden;}

.off-canvas-main { position: relative; background-color: #fff; transition: transform .2s ease-out; overflow:hidden}
.open-nav .off-canvas-main { transform: translateX(260px);position: fixed; top: 0; bottom: 0; height: 100%; width: 100%; overflow: hidden; }
.open-nav .off-canvas-nav { -webkit-transform: translateX(100%); transform: translateX(100%); }
.open-nav #hamburger-icon:before {opacity:1; width: 100%;}

.my-overlaw {position:fixed;max-height:1; left:0; right:0; content:'';background:rgba(255,255,255,.95); top:0; z-index:-1; -webkit-transition: all 1s -0.25s ease-out;  -moz-transition: all 1s -0.25s ease-out;    -o-transition: all 1s -0.25s ease-out;   -ms-transition: all 1s -0.25s ease-out; transition: all 1s -0.25s ease-out; opacity:0;}
.container-fluid {position:relative}
.form-control {border-radius:0}
.form-control:focus { border-color: #ffd7a6; box-shadow: 0 0 0 0.2rem rgb(255, 229, 198);}
.bg-light { background-color: #ffffff!important; }
.navbar {margin-left: -15px; margin-right: -15px;z-index: 99;font-family: 'Lato', sans-serif; border-top: 1px solid #c5c5c5; border-bottom: 1px solid #c5c5c5;}
.navbar-light .navbar-nav .nav-link { color: rgba(0,0,0,.9);}
.navbar-light .navbar-nav .nav-link:hover{ color:#f89c2e;}
.navbar-light .navbar-nav .nav-link:hover .fas { color:#f89c2e;}
.navbar .fas {font-weight: 600; font-size: 12px;color: rgba(0,0,0,.5);}
.navbar-light .navbar-toggler { border-color: rgb(247, 148, 30);border-radius: 0; outline:none;transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out;}
.navbar-light .navbar-toggler:hover { background: #f89c2e;}
.top-links {margin:0;font-family: 'Lato', sans-serif; }
.top-links li {position: relative; z-index: 2; line-height:30px; font-size: 12px;}
.top-links li {color:#58595b;}
.top-links li span {padding:0 10px}
.top-links li a {color:#58595b;}
.top-links li a:hover {color:#f89c2e }
.desktop-logo-arye {position:inherit;z-index:1; margin-bottom:5px;}
.desktop-logo-arye img {position: relative; z-index: 1;}
.top-white { background-color: #fff; }
.top-gry { background-color: #f3f3f3;}
.top-icon-arye ul {margin:0;padding:0;}
.top-icon-arye .list-inline-item {padding:25px 5px; position:relative}
.top-icon-arye .list-inline-item:not(:last-child) { margin-right:1.5rem;}
.top-icon-arye .list-inline-item#cart-box { margin-right:0;}
#hamburger-icon:before { content: " "; display: block; position: fixed; top: 0; left: 0; height: 100%; width: 0; opacity: 0; transition: opacity .2s,width .05s .2s; background:rgba(255,255,255,.7);}
#hamburger-icon { display: block; position: relative; height: 32px; width: 32px; overflow: hidden; z-index: 100; cursor:pointer; display: inline-block;}
.topMenuL { font-size:0;}
#hamburger-icon div { position: absolute; height: 2px; right: 2px; left: 2px; background-color: #58595b; border: 0; -webkit-transition: -webkit-transform .2s ease-in-out .2s,top .2s ease-in-out .2s,background-color .3s; -moz-transition: -moz-transform .2s ease-in-out .2s,top .2s ease-in-out .2s,background-color .3s; -o-transition: -o-transform .2s ease-in-out .2s,top .2s ease-in-out .2s,background-color .3s; transition: transform .2s ease-in-out .2s,top .2s ease-in-out .2s,background-color .3s; vertical-align: top;}
.storeLocaterIcon {float: right; margin-top: -2px; vertical-align: top; margin-left:10px; cursor:pointer; font-size:0;}
.storeLocaterIcon img {display: inline-block; vertical-align: middle; height:32px;}
.storeLocaterIcon span {font-size:8px; text-transform: uppercase; display: inline-block; font-weight: bold; width:45px; line-height: 1.2;vertical-align: middle; letter-spacing: 2px;margin-right: 4px; text-align:right}
#hamburger-icon div.top { top: 25%; margin-top: -1px; }
.open-nav #hamburger-icon div.top {transform: rotate(-135deg); top: 50%;}
#hamburger-icon div.middle { top:50%; margin-top: -1px; }
.open-nav #hamburger-icon div.middle {opacity:0;}
#hamburger-icon div.bottom { top:75%; margin-top: -1px; }
.open-nav #hamburger-icon div.bottom { transform: rotate(135deg); top: 50%;}

.icon-custom { display: inline-block; vertical-align: middle;background-image: url(../images/spritesheet.png); }
.icon-custom.wishlist { background-position: -201px -220px; width: 28px; height: 26px; }
.icon-custom.search { background-position: 0 -300px; width: 26px; height: 26px; }
.icon-custom.cart { background-image: url(../images/spritesheet.png?1481802524079); background-position: -134px -140px; width: 30px; height: 30px; }
.icon-custom.wishlist+span,
.icon-custom.cart+span {background:#121515; position:absolute;text-align:center; color:#fff; border-radius:10px; font-family: 'Lato', sans-serif; font-size:10px;width:18px; height:18px; line-height:17px; top: 20px; right: -5px;}
.navbar-expand-md .navbar-nav .nav-link { font-size: 12px;}
.navbar-expand-md .navbar-nav .nav-item:nth-child(n+3) {position:relative}
.navbar-expand-md .navbar-nav .nav-item:nth-child(n+3) .customDropdownMenu>ul {padding: 20px 15px;}
.customDropdownMenu {position:absolute; left:0; top:100%; right:0; background:#fff; z-index:-9999; max-height:0px; overflow:hidden; border-top: 1px solid #c5c5c5; min-width: 180px; -webkit-transition:all 200ms linear .1s; -moz-transition:all 200ms linear .1s; -o-transition:all 200ms linear .1s; transition:all 200ms linear .1s;}
.customDropdownMenu>div{padding:20px 0;}
.customDropdownMenu h4 {font-size:14px;}
.customDropdownMenu ul li {font-family: 'Lato', sans-serif; font-size:11px;padding:3px 0 }
.customDropdownMenu ul li a {color:#333; }
.customDropdownMenu ul li a:hover {color:#f89c2e }
.navbar-expand-md .navbar-nav .nav-item:hover .customDropdownMenu { max-height:500px;-webkit-box-shadow: 0 5px 5px 2px rgba(0,0,0,.1); box-shadow: 0 5px 5px 2px rgba(0,0,0,.1);}

#home-slider, .home-slider {width:100%}
#home-slider .carousel-caption h5 {font-family: 'Cinzel'; background:rgba(0,0,0,.7); color:#fff; display:inline-block; font-size:30px; padding:20px 40px; line-height:1; margin:0}
#home-slider .carousel-caption {padding-top: 0; padding-bottom: 0; width:100%; left:0; right:0;}

.applyOfferBOx h3 { color: #0f7ca0; font-size: 20px; font-family: 'Cinzel'; text-transform: capitalize; text-align: center; position:relative;margin: 20px 0 15px;padding-bottom: 7px;}
.applyOfferBOx h3:after { background: #979797; width: 100px; height:2px; position:absolute; content:''; bottom:0; left:50%;  margin-left:-50px;}
.applyOfferBOx .list-unstyled label {cursor:pointer; padding:3px; border:1px solid #ccc; position:relative;}
.applyOfferBOx .list-unstyled label img {width:100%;filter: grayscale(0); -webkit-filter: grayscale(0); -moz-filter: grayscale(0); -o-filter: grayscale(0); -ms-filter: grayscale(0);}
.applyOfferBOx .list-unstyled [type="radio"]:not(:checked),
.applyOfferBOx .list-unstyled [type="radio"]:checked{position: absolute; left: -9999px;}
.applyOfferBOx .list-unstyled [type="radio"]:checked + label:after,
.applyOfferBOx .list-unstyled [type="radio"]:not(:checked) + label:after {content: ''; position: absolute; left:1px; right:1px; bottom:1px; top:1px; background:rgba(0,0,0,0.7) url(../images/applyoffer.png) no-repeat center;background-size: auto 72%; opacity:0;transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out;}
.applyOfferBOx .list-unstyled [type="radio"]:not(:checked) + label:hover:after {opacity:1}
.applyOfferBOx .list-unstyled [type="radio"]:checked + label:before,
.applyOfferBOx .list-unstyled [type="radio"]:not(:checked) + label:before {content: ''; position: absolute; left:0; right:0; bottom:0; top:0; border:3px solid #f79520; background:rgba(0,0,0,.2);transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out;}
.applyOfferBOx .list-unstyled [type="radio"]:not(:checked) + label:before {opacity: 0; -webkit-transform: scale(0); transform: scale(0);}
.applyOfferBOx .list-unstyled [type="radio"]:checked + label:before {opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
.applyOfferBOx .list-unstyled [type="radio"]:checked + label img {filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -o-filter: grayscale(100%); -ms-filter: grayscale(100%);}

ul.product-sort{ margin:25px 0 15px; padding: 0; position: relative; z-index: 1;}
ul.product-sort::before { content: ""; position: absolute; width: 100%; height: 1px; background: #0f7ca0; left: 0; top: 50%; z-index: -1; }
ul.product-sort li { list-style: none; display: inline-block; width:25%; text-align: center;}
ul.product-sort li > a{padding: 5px; border:1px solid #979797; background: #ffffff; margin-right: 10px; margin-left: 10px; text-transform: capitalize; color: #979797; letter-spacing: 1px;  font-size: 11px; font-weight: 600; display: block; }
ul.product-sort li > a:hover {border-color:#f89c2e; color:#fff; background: #f89c2e;}


.range-slider {margin:0 0 -6px; }
.checkArya { width: 100%; position: relative; z-index: 3; padding: 20px; text-align: left; padding-top:10px}
.range-slider { width: 100%; position: relative; z-index: 3; padding: 20px; text-align: center; padding-top:10px}
.range-slider__range { -webkit-appearance: none; width: 100%; height:1px; border-radius: 5px; background:#979797; outline: none; padding: 0; margin: 0; position: relative; z-index: 3; }
.range-slider__range::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; width: 15px; height: 15px; border-radius: 50%; background: #2c3e50; cursor: pointer; -webkit-transition: background .15s ease-in-out; transition: background .15s ease-in-out; }
.range-slider__range::-webkit-slider-thumb:hover { background: #f89c2e; }
.range-slider__range:active::-webkit-slider-thumb { background: #f89c2e; }
.range-slider__range::-moz-range-thumb { width: 20px; height: 20px; border: 0; border-radius: 50%; background: #2c3e50; cursor: pointer; -webkit-transition: background .15s ease-in-out; transition: background .15s ease-in-out; }
.range-slider__range::-moz-range-thumb:hover { background: #f89c2e; }
.range-slider__range:active::-moz-range-thumb { background: #f89c2e; }
.placeH,
.range-slider__value { display:inline-block;border: 1px solid #f3f3f3; background-color: #f3f3f3; width:44%; line-height:40px; font-size:12px; text-align: center; color: #000; margin: 20px 0 0 0;}
.placeH {margin-left:10%;}
.range-slider__value::after{ color: #000; padding-left:5px; content: '%'; }
::-moz-range-track { background: #d7dcdf; border: 0; }
.range-slider input::-moz-focus-inner,
.range-slider input::-moz-focus-outer { border: 0; }

.btn-ar {text-align:center; padding-bottom:10px;}
.filter-arya .btn-ar .btn { padding: 4px 10px; display:inline-block;border: 1px solid #f3f3f3; width: 40%; margin:0 4%;}
.filter-arya .btn-ar .btn:last-child {color: #f3f3f3; background-color: #000; border-color: #000;}

.product-search .form-control {border:0; border-bottom: 1px solid #979797; box-shadow:none;font-size: 12px; text-align: center;color: #0f7ca0;}
.product-search .btn {border:0; border-radius:0; border-bottom:1px solid #979797; background: transparent;color: #b9b49b; font-size: 12px;}
.product-search ::-webkit-input-placeholder {font-size:11px;color: #0f7ca0;}
.product-search :-moz-placeholder {font-size:11px;color: #0f7ca0;}
.product-search ::-moz-placeholder {font-size:11px;color: #0f7ca0;}
.product-search :-ms-input-placeholder {font-size:11px;color: #0f7ca0;}

.product-box {border: 1px solid #dbd3d3; padding:5px; text-align: center; width: 100%; position:relative; margin:15px 0; position:relative}
.product-box img {width:100%}
.product-box h3 { position:absolute; left:5px; right:5px; top:5px; background: rgba(0,0,0,0.7); font-size:16px; color:#fff; padding:7px 0; margin:0; z-index:9}
.product-box figure {position:relative; margin:0;z-index:8}
.product-box figure figcaption {position:absolute; left:0; right:0;bottom: 5px; }
.product-box figure figcaption>div {position:relative;}
.product-box figure figcaption>div>div {position:absolute; top:0; left:0; right:0; bottom: 0;display: flex; align-items: center; color:#fff;}
.product-box figure figcaption>div>div>div {-webkit-flex: 0 0 100%; flex: 0 0 100%; -webkit-box-flex: 0; -ms-flex: 0 0 100%;}
.product-box figure figcaption>div>div>div h5  {font-size:8px; text-transform:uppercase; letter-spacing:.5px; margin:0;}
.product-box figure figcaption>div>div>div h6  {font-size:36px; text-transform:uppercase; letter-spacing:-1px; margin:0; font-weight: 700; line-height:1}
.product-box figure figcaption>div>div>div h6 span  {font-size:12px; text-transform:uppercase; letter-spacing:.5px; display: block;}
.bottom-nav {position:absolute; left:10px; right:10px; bottom:5px; font-size:16px; color:#fff; padding:4px 0; margin:0;z-index:11}
.by-btn,
.bottom-nav a {color: #0f7ca0; background: #ffffff; text-transform: capitalize;  font-size: 12px; padding: 5px 3px; width: 48%; letter-spacing: 1px; display: inline-block;line-height:1}
.by-btn:last-child,
.bottom-nav a:last-child {color: #fff; background: #0f7ca0;}
.by-btn:hover,
.bottom-nav a:hover {color: #fff; background: #f89c2e;}
.product-box-2 {border: 1px solid #dbd3d3; padding:5px; text-align: center; width: 100%; position:relative; margin:15px 0; position:relative}
.product-box-2 h3 {position:relative; margin-bottom:0; }
.product-box-2 h3:after {position:absolute; height:1px; background:#989898; left: 10px;top:50%; content:''; right:10px; z-index:-1 }
.product-box-2 h3 span.left{ color: #F1951C; font-size: 20px; text-transform: capitalize; text-align: center; background: #fff; padding: 0 15px;}
.product-box-2 h3 span.saving{position: absolute; top: -10px; right:0; border-radius: 50%; width:50px; height:50px; background: #F36A6A; color: #ffffff; font-size: 15px; padding-top: 10px;}
.product-box-2 h5 {font-size:13px; margin:0 0 12px}
.product-box-2 .fa {color:#f36a6a}
.combo {border:1px solid #989898}
.product-box:before,
.product-box:after { background: rgba(67,69,113,0); content: ""; height: 100%; left: 0; position: absolute; top: 0; -webkit-transition: all 0.5s ease-in-out 0s; -moz-transition: all 0.5s ease-in-out 0s; -o-transition: all 0.5s ease-in-out 0s; transition: all 0.5s ease-in-out 0s; width: 100%; z-index:9; }
.product-box:hover:after {height: 0; top: 50%; bottom: 50%; background: rgba(255,255,255,0.5);}
.product-box:hover:before { right: 50%; left: 50%; width: 0; background: rgba(255,255,255,0.5); }



.recently-viewed {padding-top:30px; padding-bottom:40px}
.recently-viewed h3 {padding:0; margin:0 0 15px; font-size:22px;font-family: 'Cinzel';}
.recently-viewed .owl-carousel .owl-item img { width: auto;filter: grayscale(0); -webkit-filter: grayscale(0); -moz-filter: grayscale(0); -o-filter: grayscale(0); -ms-filter: grayscale(0);}
.recently-viewed .owl-carousel .owl-item:hover img { filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -o-filter: grayscale(100%); -ms-filter: grayscale(100%);}
.recently-viewed .owl-carousel .owl-item > .item {border: 2px solid #cccccc;  padding:10px;}

footer.footer-arya { background:#f6f6f6; padding-top:15px;padding-bottom:15px;}
footer.footer-arya h4 { color:#999; text-transform:capitalize;font-family: 'Lato', sans-serif; font-weight:400; font-size: 16px; border-bottom:1px solid #999; padding: 0 0 10px; margin:30px 0 15px;}
footer.footer-arya ul {margin:0; padding:0; list-style:none;}
footer.footer-arya ul li a { color:#999; line-height:1.9;font-family: 'Lato', sans-serif; font-weight:400; font-size: 14px;}
footer.footer-arya ul li a:hover { color:#333;}
footer.footer-arya ul.footer-social { border-top:1px solid #999; padding-top:15px; margin-top:30px}
.footer-social .fab {font-size:30px}


.cart-box {position: absolute; right:0; width:700px; background:#fff; padding:0; z-index:999;  top:100.8%; opacity:1; max-height:0; overflow:hidden; max-height:0;  -webkit-transition: all 1s -0.1s ease-out;  -moz-transition: all 1s -0.1s ease-out;    -o-transition: all 1s -0.1s ease-out;   -ms-transition: all 1s -0.1s ease-out; transition: all 1s -0.1s ease-out;border-left: 1px solid #c5c5c5;border-right: 1px solid #c5c5c5; }
.cart-box:after {top:0; height:1px; content:''; background:#c5c5c5; z-index:1;position:absolute;left: -500%; right: -200%;}
#cart-box:hover+.my-overlaw {opacity:1; max-height:999px; bottom:0;}
#cart-box:hover .cart-box { opacity:1; max-height: 999px; border-bottom: 1px solid #c5c5c5; overflow:inherit}
.cart-box h3 {text-align:center; color:#000; margin:0 0 10px 0; font-size:20px; border-bottom: 1px solid #c5c5c5; padding:15px;}
.cart-box h4 {text-align:left; color:#000;margin:0 0 5px; font-size:17px;}
.cart-box h4 a {color:#000;}
.cart-box h5 { margin:2px 0; padding:0; font-size:14px; font-family: 'Lato'; text-align:left;color:#8c8989;}
.cart-box h5 span {color:#000; padding:0 5px }
.cart-box ul {margin:0; padding:0; list-style:none}
.cart-box ul li {position:relative;border-bottom:1px solid #aaaaaa;margin:0; padding:30px 30px;}
.cart-box ul li a.cartremove { background: url(../images/close_icon.png) no-repeat center/ 67% auto; bottom: 40px; clear: inherit; float: right; height: 15px; text-indent: -9999px; width: 15px;}
.cart-box ul li:after { position:absolute; height:3px; content:''; position:absolute; background:#0f7ca0; bottom:-2px; width:50px; left:0;}
.total-arya { font-size:20px; color:#000; line-height: 1;}
#cart-box .total-arya {margin: 0;}
.total-arya div {padding:20px 25px;}
.total-arya div p {margin:0;}
.total-arya div p small {font-size:12px; color:#0f7ca0;}

.button-arya {text-align:center; position:relative;}
.button-arya:after { position:absolute; height:1px; content:''; position:absolute; background:#ccc; top:0; left:3%; right:3%;}
.outline-btn {display:inline-block; margin:15px 5px;padding:0; line-height:1; padding:12px 25px; border:1px solid #aaa; color:#333}
.outline-btn:hover {color:#fff !important; background:#f89c2e; border-color:#f89c2e;}

.search-box {position:fixed; top:112px; bottom:0; left:0; width:100%; z-index:99; background:rgba(255,255,255,.95); overflow:hidden; height: calc(100% - 110px); overflow-y:auto; right:0; display:none}
.search-box .search-inner {position:relative; width:100%;padding-top: 50px;max-width: 1140px; margin: 0 auto; }
.search-box .btn-close {position:absolute; top:10px; right:0; width:32px; height:32px; background: url(../images/close_icon.png) no-repeat center; border:0; padding:0; outline:none; font-size:0; text-indent:-9999px; overflow:hidden; cursor:pointer}
.search-box .search-form {max-width:1000px; margin:0 auto; width:100%; padding: 0 30px;}
.search-box .search-form .text-fild {margin:0; width:100%; border:0; background:transparent; outline:none; border-bottom:1px solid #666; color:#000; font-size:50px; line-height:1;font-weight: 300; letter-spacing: 7px;}
.search-box .hints {font-size:12px; color:#666; text-align:right; margin-top:5px}
/* Chrome/Opera/Safari */
.search-box .search-form ::-webkit-input-placeholder { color: #b0acac; font-size: inherit;}
 /* Firefox 19+ */
.search-box .search-form ::-moz-placeholder { color: #b0acac; font-size: inherit;}
 /* IE 10+ */
.search-box .search-form :-ms-input-placeholder {color: #b0acac; font-size: inherit;}
/* Firefox 18- */
.search-box .search-form :-moz-placeholder { color: #b0acac; font-size:inherit;}

.store-locater-box {position:fixed; top:112px; bottom:0; left:0; width:100%; z-index:99; background:rgba(255,255,255,.95); overflow:hidden; height: calc(100% - 110px); overflow-y:auto; right:0; display:none}
.store-locater-box .locater-inner {width:100%; position:relative; padding-top: 50px;max-width: 1140px; margin: 0 auto;}
.store-locater-box .locater-close {position:absolute; top:10px; right:0; width:32px; height:32px; background: url(../images/close_icon.png) no-repeat center; border:0; padding:0; outline:none; font-size:0; text-indent:-9999px; overflow:hidden; cursor:pointer;  z-index:1}
.store-locater-box .search-form {max-width:1000px; margin:0 auto; width:100%;}

.store-locater-box .search-form .text-fild {margin:0; width:100%; border:0; background:transparent; outline:none; border-bottom:1px solid #666; color:#000; font-size:50px; line-height:1;font-weight: 300; letter-spacing: 7px;}
.store-locater-box .hints {font-size:12px; color:#666; text-align:right; margin-top:5px}
/* Chrome/Opera/Safari */
.store-locater-box .search-form ::-webkit-input-placeholder { color: #b0acac; font-size: inherit;}
 /* Firefox 19+ */
.store-locater-box .search-form ::-moz-placeholder { color: #b0acac; font-size: inherit;}
 /* IE 10+ */
.store-locater-box .search-form :-ms-input-placeholder {color: #b0acac; font-size: inherit;}
/* Firefox 18- */
.store-locater-box .search-form :-moz-placeholder { color: #b0acac; font-size:inherit;}
.store-locater-box .aressBox {margin-top:30px;}
.store-locater-box .aressBox h5 {font-size:16px; text-transform:uppercase}
.store-locater-box .aressBox {font-size:13px;}
.store-locater-box .box address {margin-bottom:7px;}
.store-locater-box .box address p {margin-bottom:0;}
.store-locater-box .box {margin-bottom:20px;}


.outline-style .modal-content {border-radius:0; border: 0;}
.outline-style .modal-body {padding:40px 30px; padding-bottom:25px;}
.outline-style .modal-body:before {left:15px; right:15px; bottom:15px; top:40px; content:''; position:absolute; z-index:1; border:1px solid #c7c7c7}
.costomFacevalue,
.outline-style .modal-body select.DifRnt { padding:0 20px 0 4px; width:auto; font-size: 13px; border: none; box-shadow: none; background: transparent; background-image: none; background: #ffffff url(../images/select-arrow.png) no-repeat 90% 50%;-webkit-appearance: none;  -moz-appearance: none; -ms-appearance: none; appearance: none; }
.costomFacevalue::-ms-expand,
.outline-style .modal-body select::-ms-expand {display: none;}
.outline-style h3 {text-align:center; margin: -20px 0 10px 0; }
.outline-style h3 span {padding:0 10px; background:#fff;font-size:18px}
.outline-style .modal-body>div {position:relative; z-index:2; text-align:center}
.outline-style .modal-body div.qtys { padding:7px 5px; font-size: 13px;}
.outline-style .modal-body div.head-t {border-bottom:1px solid #aaa; padding: 5px; color:#aaa;}
.outline-style .modal-body div.total {font-size:20px;font-family: 'Cinzel';  padding-right:30px; }
.outline-style .modal-body div.pls {border-top:1px solid #aaa;padding-top:20px; font-size:0}
.outline-style .modal-body .qty,
.outline-style .modal-body .button { background: none; border: none; box-shadow: none; width: 25px; text-align: center; display: inline; line-height: 1;}
.outline-style .modal-body .outline-btn  { padding: 10px 15px;}
.outline-style .modal-body .button.inc  {float:right; margin-top: -3px;}
.outline-style .modal-body .button.dec  {float:left; margin-top: -3px;}
.outline-style .modal-body .button {color: #f79633; font-size: 20px; cursor:pointer}

.outline-style a.close-btn { right:5px; top:5px; position:absolute; content:''; background: url(../images/close_icon.png) no-repeat center ; width:26px; height:26px; z-index:9; cursor: pointer; font-size:0; text-indent:-9999px;background-size:16px auto}

.card-list {margin-top:15px;}
.dropdown i { background-image: url(../images/spritesheet.png); background-position: -134px -132px; width: 12px; height: 7px;display: inline-block; margin-left: 10px; }
.filter-arya {border-bottom: 1px solid #c5c5c5; border-top: 1px solid #c5c5c5;}
.filter-arya .btn { width: 100%; background:transparent;font-size: 12px; color: #58595b; text-transform:uppercase; outline:none; box-shadow:none; padding: 25px 20px; border:0; border-left: 1px solid #fff; border-right: 1px solid #fff; border-radius:0;}
.filter-arya .show .btn i { background-position: -354px -334px;}
.filter-arya .show .btn {border-color:#c5c5c5}
.filter-arya .dropdown-menu {border-radius: 0; width: 100%; margin: 0;}
.filter-arya .btn.dropdown-toggle::after {display:none;}

.inner-images {margin:0 -15px; position:relative;border-bottom: 1px solid #c5c5c5; position:relative}
.inner-images .inner-images-container {position:absolute; top:0; right:0; bottom:0; left:0; display:flex; align-items: center;}
.inner-images h3 {color:#000; margin:0;}

.cartArya,
.login-arya { padding-top:20px; position:relative;}
.login-arya h4 {font-weight:400; margin:15px 0 10px; color:#000}
.login-arya .custom-form { padding-top:20px; }
.custom-form .form-group {text-align:left}
.custom-form label {margin:0;font-size: 13px;}
.login-arya p {font-size: 13px;}
.signupForm.custom-form a {color:#f89c2e}
.custom-form a {color:#272727}
.custom-form a:hover {color:#f89c2e}
.custom-form .form-control {border:0;  border-bottom: 1px solid #afafaf; box-shadow:none; padding:3px 0}
.custom-form select.form-control:not([size]):not([multiple]) {height: 31px;-webkit-appearance: none;  -moz-appearance: none; -ms-appearance: none; appearance: none;}
.custom-form select::-ms-expand { display: none; }
.custom-form .form-control:focus {border-color:#272727}
.login-arya .btn-outline-secondary {border-radius:0; padding:8px 30px; text-transform:uppercase}
.login-arya .btn-outline-secondary {margin-bottom:20px}

.loginBtn { box-sizing: border-box; position: relative;  margin: 0.2em; padding: 0 100px; border: none; text-align: left; line-height:50px; white-space: nowrap; border-radius:0; font-size: 16px; color: #FFF; cursor:pointer}
.loginBtn:before { content: ""; box-sizing: border-box; position: absolute; top: 0; left: 0; width:80px; height: 100%; }
.loginBtn:focus { outline: none; }
.loginBtn:active { box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1); }
.loginBtn--facebook { background-color: #4C69BA; background-image: linear-gradient(#4C69BA, #3B55A0); text-shadow: 0 -1px 0 #354C8C; padding:0 91px }
.loginBtn--facebook:before { background: url('../images/icon_facebook.png') center no-repeat; }
.loginBtn--facebook:hover,
.loginBtn--facebook:focus { background-color: #5B7BD5; background-image: linear-gradient(#5B7BD5, #4864B1); }
.loginBtn--google { background: #DD4B39; }
.loginBtn--google:before { background: url('../images/icon_google.png') center no-repeat; }
.loginBtn--google:hover,
.loginBtn--google:focus { background: #E74B37; }

.cart-table {margin-bottom:20px; white-space:nowrap; min-width:740px}
.cart-table .thead {font-size:12px; white-space:nowrap; text-transform:uppercase}
.cart-table .quantity {text-align:center;width:100px;}
.cart-table .quantity span {float:right; padding: 4px; line-height: 1; cursor:pointer}
.cart-table .quantity span.dec {float:left;}
.cart-table .quantity input {border: 0; text-align: center; display: inline-block; width: 30px;}
.cart-table .price {text-align:right; }
.cart-table .delete {text-align:right; width:98px;}
.cart-table thead th {border-bottom: 1px solid #dee2e6;letter-spacing: 1px;}
.cart-table tbody {border-bottom: 1px solid #dee2e6;}
.cart-table tfoot tr:nth-child(1) td {padding-top:15px}
.cart-table tfoot td {border:0; padding:3px .75rem; text-align:right;font-size:14px}
.cart-table tfoot .total-pay td {font-size:24px}
.cart-table {font-size:12px; text-align: center}
.cart-table tbody td:first-child,
.cart-table thead th:first-child {text-align: left}
.removeItem {color:#272727}
.removeItem .icon { background-image: url(../images/spritesheet.png); background-position:top right; width: 12px; height: 12px; margin-right: 5px; margin-top: -2px;display: inline-block; vertical-align: middle; }

.product-details-head {background:#fafafa ; margin-left:-15px; margin-right:-15px; padding:20px 0; border-bottom: 1px solid #c5c5c5;}
.product-details-head p {font-size:13px; line-height:1.8; margin:0}
.product-details-head h3 {color:#0f7fb9}
.star-rating {display: flex; align-items: center; margin-bottom:10px}
.star-rating .countss {display:inline-block; font-size:12px;margin-left: 5px; margin-top: 3px;}
.ratings {background:url(../images/star-rate.png) no-repeat bottom right; display:inline-block; height:18px; width:112px;}
.ratings.star-0-5 {background-position:-180px -19px;}
.ratings.star-1 {background-position:-95px 0;}
.ratings.star-1-5 {background-position:-95px -19px;}
.ratings.star-2 {background-position:-72px 0;}
.ratings.star-2-5 {background-position:-71px -19px;}
.ratings.star-3 {background-position:-47px 0;}
.ratings.star-3-5 {background-position:-47px -19px;}
.ratings.star-4 {background-position:-23px 0;}
.ratings.star-4-5 {background-position:-23px -19px;}
.ratings.star-5 {background-position:0 -19px;}

.detailsArya {padding-top:20px; padding-bottom:30px; position:relative}
.detailsArya:after {position:absolute; top:62px; left:0; right:0; background:#dee2e6; content:""; height:1px;}
.detailsArya .cart-table thead th {border-top:0; letter-spacing: 1.5px;}
.detailsArya .cart-table thead th:nth-child(2).price {text-align:center}
.detailsArya .cart-table tbody td:nth-child(2).price {text-align:center}
.detailsArya .cart-table { font-size: 16px; }
.detailsArya .cart-table thead th:not(:last-child),
.detailsArya .cart-table tbody td:not(:last-child) {color:#666}
.detailsArya .cart-table thead th,
.detailsArya .cart-table tbody td {width:25%; vertical-align: middle;}
.detailsArya .cart-table .define-quantity {width: 65px; display: inline-block;}
.detailsArya .cart-table p {margin:0; color:#c1b8b9;font-size: 11px; text-transform:uppercase}

/* .price span {display:inline-block; padding:0 0 0 12px; background: url(../images/inr.svg) no-repeat left center/auto 14px} */
.price span {display:inline-block; padding:0}
.leftSearch {display:none}
.form-coopan {width:100%;}
.form-coopan .container {position:relative; z-index: 1;}
.form-coopan-box {position:absolute; right:0; top:0; background:#fff; width:280px;-webkit-box-shadow:0px 2px 3px 0 rgba(0,0,0,0.3); box-shadow:0px 2px 2px 0 rgba(0,0,0,0.1); padding:15px;}
form.find-location,
.promocode form,
.locater form,
.form-coopan-box form {font-size:0; margin:0; width:100%;} 
.find-location .form-control,
.promocode .form-control,
.locater .form-control,
.form-coopan-box .form-control {background:#fff; max-width:75%; display:inline-block;vertical-align: top; font-size: 13px;}
.find-location .form-control {padding: .4rem .5rem;font-size: 13px;}
form.find-location {margin-bottom:30px; margin-top:30px}
.find-location .btn,
.promocode .btn,
.locater .btn,
.form-coopan-box .btn {width:25%; vertical-align: top; padding: .375rem 0; font-size: 13px; background-color:#0f7fb9; text-align:center} 
.promocode {margin-bottom:20px}
.promocode form {margin-top:10px}
.locater {margin-bottom:20px}
.ii,
.tnc {border-top: 1px solid #ccc; font-size:12px; margin-top:40px;}
.ii ul,
.tnc ol {margin:0; padding:0 0 0 20px; list-style-position: outside;}
.ii h4,
.tnc h4 {font-family: 'Cinzel', serif; font-size:20px; margin:20px 0 10px 0}
.ii ul li,
.tnc ol li {margin:0; padding:0 0 3px 0;}

.box-forCoopan {border:1px solid #c1c1c1;margin-bottom:10px; background:#fafafa; padding:5px;}
.homePage .box-forCoopan {margin-top:-1px;}
.box-forCoopan h4 {font-size:20px; color:#075092; text-align:center; margin:20px 0 30px}
.loginLoyalty {font-size:9px; line-height:1.2;display: block; text-align:right; padding:5px 24px 5px 2px; color:#9a9a9a; position:relative;}
.loginLoyalty:after { position:absolute;width:9px; height:10px; content:''; position:absolute; right:5px; top:50%; margin-top:-5px; background-image: url(../images/spritesheet.png); background-position:-38px -348px;}
.loginLoyalty:before { position:absolute;width:18px; height:20px; content:''; position:absolute; right:0px; top:50%; margin-top:-10px;border:1px solid #c1c1c1;}
.offer-box .card-list { margin: 0; }

.promocode>h4,
.offer-box>h4,
.Payment-offer-box>h4 {font-size:12px; text-transform:uppercase; margin:0; padding: .75rem; text-align:center;  line-height: 1.5;font-weight: bold; letter-spacing: 1.5px;}

.btns-groups2 .btn {text-align:left;padding: .375rem .75rem;border-color: #c1c1c1;}
.btns-groups2 .btn span {    vertical-align: middle;}
.btns-groups2 .btn span:last-child {font-size:9px; float: right; width:40%;white-space:normal; line-height: 1;margin-top: 4px;}

.locater-link {border: 1px solid #ccc; font-size: 15px; color:#0f7fb9; font-family: 'Lato', sans-serif; float: right; padding: 9px; margin-top: -5px; cursor:pointer}

.product-box1 { background:#fff;-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.2); box-shadow: 0 0 5px 0 rgba(0,0,0,.2); margin:20px 5px;}
.product-box1 .product-name {padding:12px 0 12px; position:relative;z-index: 1; }
.product-box1 .product-name:after {position:absolute; content:''; background:#4a90e2; height:1px; left:0; top:50%; right:0;}
.product-box1 .product-name h3 {font-size:16px; font-family:'Lato', sans-serif;  color: rgb(249, 165, 26); line-height:1; margin:0; text-transform:uppercase;z-index: 2; position: relative;}
.product-box1 .product-name h3 span {background:#fff; display:inline-block; padding:0 8px}
.product-box1 .product-name .fevrate-box {background:#fff; position:absolute; z-index:3; cursor:pointer; right:8px; padding:6px; display:inline-block; line-height: 1; height:28px; margin:-14px 0 0 0; top:50%; color:#b7b7b7}
.product-box1 .product-name .fevrate-box.active { color:#ed3934}
.product-box1 figure {margin:0 0 0 -20px; padding-right:70px;position: relative;}
.product-box1 figure figcaption {margin:0; padding:0; position:absolute; right:8px; top:8px; bottom:8px; width:100px;display: flex; align-items: center;}
.product-box1 figure figcaption>div div{background:#fff;-webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.2); box-shadow: 0 0 2px 0 rgba(0,0,0,.2);}
.product-box1 figure figcaption>div>div {display:block; text-align:center; padding:8px 10px 5px 10px}
.product-box1 figure figcaption>div>div+div {margin-top:10px;padding:0;text-align:center;}
.product-box1 figure figcaption>div div span {display:block; text-align:center; line-height:1; color:#898989; font-size:12px; text-transform:uppercase}
.product-box1 figure figcaption>div div span small {font-size:12px; color:#0082c1}
.product-box1 figure figcaption>div div.box-5 span:first-child {text-align:left}
.product-box1 figure figcaption>div div.box-5 span:last-child {text-align:right}
.product-box1 figure figcaption>div div span.percents {font-size:45px;font-family: 'Roboto Condensed', sans-serif; font-weight: 700; color:#0082c1; letter-spacing: -2px;}
.product-box1 .bottom-link {padding:8px; font-size:0}
.product-box1 .bottom-link a {color: #4a90e2; background: #ffffff;font-family: 'Roboto Condensed', sans-serif;  font-size: 14px; padding:8px 5px; width: 48%; letter-spacing:0; display: inline-block;line-height:1; text-align:center; text-transform:uppercase; border:1px solid #d1d1d1}
.product-box1 .bottom-link a:last-child {color: #fff; background: #0f7ca0;border:1px solid #0f7ca0}
.product-box1 .bottom-link a:hover {color: #fff; background: #f89c2e; text-align:center;}

.min-width-arya {display: block; width: 100%; overflow-x: auto;}
.min-width-arya .container-fluid { min-width:600px; }

.plus-box {width:19px; height:19px;  background-image: url(../images/spritesheet.png); background-position:-33px -343px; display:inline-block; position:relative; margin:5px; cursor:pointer}
.plus-box:after {content:''; width:29px; height:29px; position:absolute; border:1px solid #666; margin:-5px 0 0 -5px;left: 0; top: 0;}

.fs-12 {font-size:12px;}
.ls-1 {letter-spacing:1px;}
#voucherDetail {font-family: 'Lato', sans-serif;}
#voucherDetail h4 { font-family: 'Cinzel', serif;}
.validityBox {border-left:1px solid #ccc}
.validityBox h6 { font-size: 12px; color: #0f7ca0;text-transform: uppercase; margin:0;}
.validityBox p { font-size: 14px; color: #979797;text-transform: capitalize;}

.myAccount-arya {padding:20px 0;}
.myAccount-arya .myAccount-left {border-right: 1px solid #c5c5c5;}
.myAccount-arya .myAccount-left h4 {display:none;}
.myAccount-arya .myAccount-left {color: #58595b;}
.myAccount-arya .myAccount-left .nav li.last {margin-top: 45px;}
.myAccount-arya .myAccount-left .nav li a {color: #58595b; padding: 10px 0; text-transform: uppercase; font-size: 12px; font-weight:bold}
.myAccount-arya .myAccount-left .nav li.last a:before { content: ""; text-indent: -9999px; display: inline-block; width: 20px; background-image: url(../images/spritesheet.png); background-position: -257px -220px; width: 7px; height: 12px;margin: 3px 5px 0px 0; float:left }
.myAccount-arya .myAccount-left .nav li a.active {color:#000}
.myAccount-arya .myAccount-left .nav li a:hover {color:#000}
.myAccount-arya .myAccount-right h3 {font-size:20px;}
.myAccount-arya .myAccount-right p {color:#000;font-size: 14px; line-height: 20px; letter-spacing:1px;}
.myAccount-arya .myAccount-right .aressBox {margin-top:40px;}
.myAccount-arya .myAccount-right .aressBox h4 {font-weight: 400; text-transform: uppercase; font-size:16px; margin:0 0 10px}
.myAccount-arya .myAccount-right .aressBox .box { border-top: 1px solid #c5c5c5; padding:20px 0 ; }
.myAccount-arya .myAccount-right .aressBox address h5 {font-weight: 400; text-transform: uppercase; font-size:15px; margin:0;}
.myAccount-arya .myAccount-right .aressBox address p {font-size:12px; line-height:1.9; margin-top:15px}
.myAccount-arya .myAccount-right.addBok .aressBox address p {margin-bottom:0}
.table-address {font-size:12px; vertical-align:top; width:100%}
.table-address th { vertical-align:top;text-transform: uppercase;}
.table-address th,
.table-address td {padding:5px; line-height:1}
.link-Edit {text-transform: uppercase; color:#0f7ca0;font-size:11px;}
.WishBOXX {padding-left:15px; }

.custom-select1 {position: relative;}
.custom-select1:after { content: ""; background-image: url(../images/spritesheet.png?1481802524079); background-position: -354px -308px; width: 12px; height: 7px; pointer-events: none; position: absolute; top: 16px; right: 16px;}
.custom-select1 select.form-control { -webkit-appearance: none; -moz-appearance: none; appearance: none; font-size:12px;height: 32px !important;}
.password-Hide { margin-top:30px;display:none;}

.address_table {font-size:12px;text-align:left; min-width:600px; margin-top:30px 0}
.address_table thead th {text-transform:uppercase; letter-spacing:1px; text-align:left; width:25%}

.modal-open {position:fixed; height:100%; width:100%;}
.gyftrGifts {padding-top:20px; display:none;}

.addressOnCart>div .box { border-top: 1px solid #ccc;}
.addressOnCart>div .box {padding: 10px;}
.addressOnCart>div .box h5 { font-weight: 400; text-transform: uppercase; font-size: 16px; margin: 0 0 10px;}
.addressOnCart>div .box p { font-size: 12px; line-height: 1.9; margin:0; }
.addressOnCart>div .box p span {text-transform: uppercase;}

#AddressBook .addressOnCart>div .box { border-top:0; border-bottom:1px solid #ccc}
.list-thumb {list-style:none; margin:10px -1% 0; padding:0;font-size:0; }
.list-thumb li {width:25%; display:inline-block; font-size:0; padding:0 1%;}
.list-thumb li img {max-width:100%; cursor:pointer}
.list-thumb li:hover img {-ms-transform: scale(1.01); transform: scale(1.01); -webkit-transform: scale(1.02);}
.custom-form .newHi .form-control {height:76px; resize: none;}
#buypopup .custom-form .newHi .form-control {height: 40px; line-height: 1;}

.wishlistTable {font-size: 12px;border-bottom: 1px solid #dee2e6; min-width:500px; }
.wishlistTable thead th { border-bottom: 1px solid #dee2e6; letter-spacing: 1px;font-size: 12px; text-transform:uppercase}
.wishlistTable thead th:nth-child(1) {width:20%}
.wishlistTable thead th:nth-child(2) {width:55%; }
.wishlistTable thead th:nth-child(3) {width:15%;}
.wishlistTable tbody td {padding:30px 5px; line-height:1.6;}
.wishlistTable tbody td:nth-child(3) {text-align:left; padding-left:.75rem;}
.wishlistTable tbody td:nth-child(2) {text-align:left; padding-left:2rem; padding-right:15%;}
.wishlistTable tbody td .nam-po {font-size: 16px; font-family: 'Lato', sans-serif; color: rgb(249, 165, 26); padding-top:20px}
.wishlistTable tbody td .nam-text {font-size: 12px; letter-spacing: 1px; padding-bottom:5px;}
.wishlistTable tbody td .save-po {font-size: 12px; font-weight:bold; padding:3px 0}
.wishlistTable tbody td .nam-po a { text-transform:uppercase; color:rgb(249, 165, 26); }
.wishlistTable .dem-po .DifRnt,
.wishlistTable .qty-po .DifRnt { padding: 0 20px 0 4px; width: auto; font-size: 12px; border: none; box-shadow: none; background: transparent; background-image: none; -webkit-appearance: none; background: #ffffff url(../images/select-arrow.png) no-repeat 90% 50%; }
.wsBtn a {color: #fff; background-color: #000; display:block; padding:7px 10px; margin-bottom:10px; text-align:center; text-transform:uppercase; font-size:14px}
.wsBtn + .wsBtn a {background:#fff; border:1px solid #000; color:#000}

.box .custom-form {position:relative;}
.btnAw { background:#fff url(../images/next.svg) no-repeat center; border:0; padding:0;background-size:20px auto; font-size:0; text-indent:-999px; width:20px; height:24px; position:absolute; bottom:1px; right:0; cursor:pointer; outline:none }

.faqSection  {padding-top:20px; padding-bottom:20px}
.faqSection .card {background-color: transparent;    border: 0; border-bottom: 1px solid rgba(103, 103, 103,.7); border-radius: 0;}
.faqSection .card .card-header { padding: 0;background-color: transparent;}
.faqSection .card .card-body { padding:10px 0 30px 0;font-size: 14px; line-height: 1.8;}
.faqSection .card .card-header .btn-link {width:100%; text-align: left; color:#333; padding-left: 0; position:relative;border: 0;font-size: 12px; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;line-height: 1; padding: 14px 0;}
.faqSection .card .card-header .btn-link:after {width:1px;height:16px; background:#c1c1c1; right:7px; content:''; top:50%; position:absolute;margin-top:-8px;}
.faqSection .card .card-header .btn-link:before {width:16px;height:1px; background:#c1c1c1; right:0; content:''; top:50%; position:absolute;}
.faqSection .card .card-header .btn-link[aria-expanded="true"] {color:#f7941e; }
.faqSection .card .card-header .btn-link[aria-expanded="true"]:after {display:none}
.faqSection .card .card-header .btn-link[aria-expanded="true"]:before {background:#f7941e;}
.faqSection .card .card-header .btn-link:focus,
.faqSection .card .card-header .btn-link:hover {text-decoration:none;color:#f7941e;}
span.priceSem {display:inline-block; padding:0 0 0 12px; background: url(../images/inr.svg) no-repeat left center/auto 15px}
span.priceSemLarge {display:inline-block; padding:0 0 0 15px; background: url(../images/inr.svg) no-repeat left center/auto 18px; margin-left:10px;}
.description span { width: 30px; text-align:right;display:inline-block;}
.detailsArya .cart-table tbody td.description span { width:50px; }

.detailsArya .cart-table.brand-2 thead th,
.detailsArya .cart-table.brand-2 tbody td { width:20%; }
.detailsArya .cart-table.brand-2 tbody td .editIcon { color:#333 }

.custom-form .form-control:disabled,
.custom-form .form-control[readonly] {cursor:not-allowed; background:#fff}
.ui-datepicker { z-index: 9999 !important;}
.loginForm.custom-form .custom-select1:after {top: 11px; right: 3px;}
#GyftingRecipientBox1 .custom-select1:after {top: 36px; right: 3px; }
.allowedLocationParent {position:relative}
.allowedLocation {background:url(../images/location.svg) no-repeat center/20px; position:absolute;  right:10px; height:30px; width:30px; border:0;top: 50%; margin-top: -20px;opacity: .4; outline:none;}
.allowedLocation:hover {opacity: .8; cursor:pointer}

.editIcon {font-size:12px; display:inline-block; padding:2px;}

.share {background:url(../images/share.svg) no-repeat center/auto 18px !important; position:relative; height:28px; outline:none; display:block; box-shadow: none !important; border-top: 1px solid #e4e4e4; margin-top:5px}
.share ul {list-style:none; margin:0; padding:4px; position:absolute; bottom:100%; background:#fff; right:-5px;left:-5px; z-index: 9; display:none;font-size:0; margin-bottom:-5px}
.share:hover ul {display:inherit}
.share ul li {margin:0; padding:0; text-align:center; display:inline-block; width:50%; padding: .5% 1%;}
.share ul li a {font-size:36px; line-height:1; color:#666}
.share ul li a:hover {color:#0f7ca0}
.fs-14 {font-size:14px;}
.fs-10 {font-size:11px;}

.btn-Social {position: absolute; top: -65px; right: 0; z-index: 1;}
.btn-new {display: inline-flex; font-family: 'Roboto', sans-serif;text-decoration: none; justify-content: center; align-items: center; text-align: center;  cursor: pointer; white-space: nowrap; padding: 8px 20px;font-size: 14px; background-color:#a9a9a9;  border-radius: 2px;  color: white;  text-transform: uppercase;  border: none;  transition: all 0.2s ease-in;  background-position: 50%;  outline: none !important;}
.btn-new.btn-circle {  height: 40px;  width: 40px;  border-radius: 50%;  padding: 0 !important;  font-size: 16px;}
.btn-Social input { display: none;}
.btn-Social input:not(:checked) ~ label { transform: rotate(0);}
.btn-Social input:not(:checked) ~ label .btn-new {  border-radius: 0;  height:15px;  width:15px;  box-shadow: none;}
.btn-Social input:not(:checked) ~ label .btn-new:first-child {  border-top-left-radius: 100%;  transform: translate(25px, 25px);}
.btn-Social input:not(:checked) ~ label .btn-new:nth-child(2) {  border-top-right-radius: 100%;  transform:translate(40px, 25px)}
.btn-Social input:not(:checked) ~ label .btn-new:nth-child(3) {  border-bottom-left-radius: 100%;  transform: translate(25px, 40px)}
.btn-Social input:not(:checked) ~ label .btn-new:nth-child(4) {  border-bottom-right-radius: 100%;  transform: translate(40px, 40px);}
.btn-Social input:not(:checked) ~ label .btn-new .icon {  opacity: 0;}
.btn-Social input:not(:checked) ~ label > .icon {  opacity: 1;  cursor: pointer;}
.btn-Social label {  position: relative;  height:80px;  width:80px;  display: inline-block;  transform: rotate(45deg);  transition: all 0.2s ease-in;  cursor: default;}
.btn-Social label .btn-new {  position: absolute;  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);}
.btn-Social label .btn-new:nth-child(2) { transform: translate(60px, 0);}
.btn-Social label .btn-new:nth-child(3) { transform: translate(0, 60px);}
.btn-Social label .btn-new:nth-child(4) { transform: translate(60px, 60px);}
.btn-Social label .btn-new .icon {  opacity: 1;  transition: all 0.15s ease-in-out;  transform: rotate(-45deg);}
.btn-Social label > .icon { color: white;  position: absolute;  border-radius: 50%;  display: flex;  font-size:16px; align-items: center;  justify-content: center;  height:30px;  width:30px;  top: 25px;  left: 25px;  opacity: 0;  transition: all 0.25s ease-in-out;}
.btn-Social label .icon { -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;}

.MoreAboutBrands h3 {font-size: 22px;}
.MoreAboutBrands p {font-size:12px;}
#btn1-StoreLocater {font-family:'Lato', sans-serif; padding:.175rem .75rem}

.br-b-1 {border-bottom:1px solid #ccc}
.br-t-1 {border-top:1px solid #ccc}
.br-r-1 {border-right:1px solid #ccc}
.br-1 {border:1px solid #ccc}

.headerContainer {-webkit-transition: all 0.5s ease; -moz-transition: position 10s; -ms-transition: position 10s; -o-transition: position 10s; transition: all 0.5s ease;}
.headerContainer.fixed-top {position: fixed; top: 0; z-index: 99; right: 0; left: 0;animation: smoothScroll 1s forwards;}
.headerContainer.fixed-top .top-gry {display:none}

.tranjection_t {font-size:12px;}
.tranjection_t.br-t-0 th {border-top:0;}
.CongratulationsMsg p {font-size:12px;}

.table tr.comboFree td {border:0; opacity:.7}
.table tr.comboQty td {border:0;}
@keyframes smoothScroll {
	0% {
		transform: translateY(-160px);
	}
	100% {
		transform: translateY(0px);
	}
}
.comboPg.detailsArya {padding-top: 0px;}
.comboPg.detailsArya:after {display:none}
.comboPg .comboDetails p {font-size:14px;}
.comboPg .comboDetails select.form-control {color:#005584; border:0; border-bottom:1px solid rgba(0, 0, 0, 0.1); margin-bottom:15px; padding-left:5px; padding-right:30px; font-size:16px;-webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; background:url(../images/plus-icon.jpg) no-repeat right center}
.comboPg .comboDetails select.form-control::-ms-expand {display: none;}
.comboPg .comboDetails h3 {font-family: 'Lato', sans-serif; font-weight:300;margin-bottom: 5px;}

.comboPg .quantity1 .define-quantity { width: 80px; display: inline-block;}
.comboPg .quantity1 input { border: 0;  text-align: center;  display: inline-block;  width: 30px;}
.comboPg .quantity1 span { float: right; padding:2px 4px 4px; line-height: 1;cursor: pointer;border:1px solid #ccc;width: 25px; text-align: center;}
.comboPg .quantity1 span.dec { float: left;}

.comboOffers .product-box1 .product-name h3 {font-size: 14px;}
.comboOffers .product-box1 figure figcaption {width: 120px;}
.comboOffers .product-box1 figure figcaption>div>div {padding:5px 10px 5px 10px;}

ul.resp-tabs-list,p{margin:0;padding:0}
.resp-tabs-list li{font-weight:600;font-size:13px;display:inline-block;padding:13px 15px;margin:0;list-style:none;cursor:pointer;float:left}
.resp-tabs-container{padding:0;background-color:#fff;clear:left}
h2.resp-accordion{cursor:pointer;padding:5px;display:none}
.resp-tab-content{display:none;padding:15px}
.resp-tab-active{border:1px solid #c1c1c1;border-bottom:none;margin-bottom:-1px!important;padding:12px 14px 14px!important;border-bottom:none;background-color:#fff}
.resp-content-active,.resp-accordion-active{display:block}
.resp-tab-content{border:1px solid #c1c1c1}
h2.resp-accordion{font-size:13px;border:1px solid #c1c1c1;border-top:0 solid #c1c1c1;margin:0;padding:10px 15px}
h2.resp-tab-active{border-bottom:0 solid #c1c1c1!important;margin-bottom:0!important;padding:10px 15px!important}
h2.resp-tab-title:last-child{border-bottom:12px solid #c1c1c1!important;background:blue}
.resp-vtabs ul.resp-tabs-list{float:left;width:30%}
.resp-vtabs .resp-tabs-list li{display:block;padding:15px!important;margin:0;cursor:pointer;float:none}
.resp-vtabs .resp-tabs-container{padding:0;background-color:#fff;border:1px solid #c1c1c1;float:left;width:68%;min-height:250px;border-radius:4px;clear:none}
.resp-vtabs .resp-tab-content{border:none}
.resp-vtabs li.resp-tab-active{border:1px solid #c1c1c1;border-right:none;background-color:#fff;position:relative;z-index:1;margin-right:-1px!important;padding:14px 15px 15px 14px !important}
.resp-arrow{width:0;height:0;float:right;margin-top:3px;border-left:6px solid transparent;border-right:6px solid transparent;border-top:12px solid #c1c1c1}
h2.resp-tab-active span.resp-arrow{border:none;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:12px solid #9B9797}
h2.resp-tab-active{background:#DBDBDB!important}
.resp-easy-accordion h2.resp-accordion{display:block}
.resp-easy-accordion .resp-tab-content{border:1px solid #c1c1c1}
.resp-easy-accordion .resp-tab-content:last-child{border-bottom:1px solid #c1c1c1!important}
.resp-jfit{width:100%;margin:0}
.resp-tab-content-active{display:block}
h2.resp-accordion:first-child{border-top:1px solid #c1c1c1!important}


.gyftr-payment-options{padding-top:.5rem;background:#fff}
.gyftr-payment-options .resp-vtabs > ul > li.resp-tab-item{background-color:#f9f9f9;color:#9b9b9b;position:relative;text-transform:capitalize;font-size:12px;font-weight:600;padding-left:60px!important}
.resp-vtabs .resp-tabs-container.tabcon{border-radius:0}
.resp-vtabs li.resp-tab-active{background-color:#fff!important}
.tabcon h2.resp-accordion::before{top:5px}
.tabcon h2.resp-accordion{background:#F9F9F9}
.tabcon h2.resp-accordion.resp-tab-active{background:#fff}
.gyftr-payment-options .resp-vtabs li.fu::before,.tabcon h2.resp-accordion:nth-of-type(1)::before{position:absolute;left:15px;content:'';background:url(../card/freqused.png) no-repeat;width:36px;height:24px}
.gyftr-payment-options .resp-vtabs li.fu:hover::before,.tabcon h2.resp-accordion:nth-of-type(1):hover::before{background:url(../card/freqused1.png) no-repeat}
.gyftr-payment-options .resp-vtabs li.resp-tab-active.fu::before,.tabcon h2.resp-accordion.resp-tab-active:nth-of-type(1)::before{background:url(../card/freqused1.png) no-repeat}
.gyftr-payment-options .resp-vtabs li.cc-dc::before,.tabcon h2.resp-accordion:nth-of-type(2)::before{position:absolute;left:15px;content:'';background:url(../card/creditcard.png) no-repeat;width:36px;height:24px}
.gyftr-payment-options .resp-vtabs li.cc-dc:hover::before,.tabcon h2.resp-accordion:nth-of-type(2):hover::before{background:url(../card/creditcard2.png) no-repeat}
.gyftr-payment-options .resp-vtabs li.resp-tab-active.cc-dc::before,.tabcon h2.resp-accordion.resp-tab-active:nth-of-type(2)::before{background:url(../card/creditcard2.png) no-repeat}
.gyftr-payment-options .resp-vtabs li.nb::before,.tabcon h2.resp-accordion:nth-of-type(3)::before{position:absolute;left:15px;content:'';background:url(../card/netbanking.png) no-repeat;width:36px;height:24px}
.gyftr-payment-options .resp-vtabs li.nb:hover::before,.tabcon h2.resp-accordion:nth-of-type(3):hover::before{background:url(../card/netbanking2.png) no-repeat}
.gyftr-payment-options .resp-vtabs li.resp-tab-active.nb::before,.tabcon h2.resp-accordion.resp-tab-active:nth-of-type(3)::before{background:url(../card/netbanking2.png) no-repeat}
.gyftr-payment-options .resp-vtabs li.mw::before,.tabcon h2.resp-accordion:nth-of-type(4)::before{position:absolute;left:15px;content:'';background:url(../card/mobilewallets.png) no-repeat;width:36px;height:24px}
.gyftr-payment-options .resp-vtabs li.mw:hover::before,.tabcon h2.resp-accordion:nth-of-type(4):hover::before{background:url(../card/mobilewallets2.png) no-repeat}
.gyftr-payment-options .resp-vtabs li.resp-tab-active.mw::before,.tabcon h2.resp-accordion.resp-tab-active:nth-of-type(4)::before{background:url(../card/mobilewallets2.png) no-repeat}
.gyftr-payment-options .resp-vtabs li.emioc::before,.tabcon h2.resp-accordion:nth-of-type(5)::before{position:absolute;left:15px;content:'';background:url(../card/emi.png) no-repeat;width:36px;height:24px}
.gyftr-payment-options .resp-vtabs li.emioc:hover::before,.tabcon h2.resp-accordion:nth-of-type(5):hover::before{background:url(../card/emi2.png) no-repeat}
.gyftr-payment-options .resp-vtabs li.resp-tab-active.emioc::before,.tabcon h2.resp-accordion.resp-tab-active:nth-of-type(5)::before{background:url(../card/emi2.png) no-repeat}
.borderon{border:1px solid #979797}
.headertrans p{font-size:20px;color:#979797;margin-bottom:0;text-transform:capitalize}
.poh3{font-size:20px;color:#000;margin-bottom:0;text-transform:capitalize}
.headertrans p span{font-size:20px;color:#000;font-weight:600;text-transform:capitalize}
.gyftr-payment-options .resp-vtabs li.pp::before,.resp-accordion:nth-of-type(6)::before{position:absolute;left:15px;content:'';background:url(../card/paypal.png) no-repeat;width:36px;height:24px}
.gyftr-payment-options .resp-vtabs li.pp:hover::before,.resp-accordion:nth-of-type(6):hover::before{background:url(../card/paypal2.png) no-repeat}
.gyftr-payment-options .resp-vtabs li.resp-tab-active.pp::before,.resp-accordion.resp-tab-active:nth-of-type(6)::before{background:url(../card/paypal2.png) no-repeat}
.gyftr-payment-options .resp-vtabs li.gc::before,.resp-accordion:nth-of-type(7)::before{position:absolute;left:15px;content:'';background:url(../card/giftcard.png) no-repeat;width:36px;height:24px}
.gyftr-payment-options .resp-vtabs li.gc:hover::before,.resp-accordion:nth-of-type(7):hover::before{background:url(../card/giftcard2.png) no-repeat}
.gyftr-payment-options .resp-vtabs li.resp-tab-active.gc::before,.resp-accordion.resp-tab-active:nth-of-type(7)::before{background:url(../card/giftcard2.png) no-repeat}
.gyftr-payment-options .resp-vtabs li.cbr::before,.resp-accordion:nth-of-type(8)::before{position:absolute;left:15px;content:'';background:url(../card/citi.png) no-repeat;width:36px;height:24px}
.gyftr-payment-options .resp-vtabs li.cbr:hover::before,.resp-accordion:nth-of-type(8):hover::before{background:url(../card/citi2.png) no-repeat}
.gyftr-payment-options .resp-vtabs li.resp-tab-active.cbr::before,.resp-accordion.resp-tab-active:nth-of-type(8)::before{background:url(../card/citi2.png) no-repeat}
.emi-tab-texts span{color:#979797;font-size:10px;text-transform:capitalize;display:inline-block;margin-left:.5rem}
.emi-tab-texts p{color:#979797;font-size:12px;text-transform:capitalize;font-weight:600}
.selectstyle{width:80%;margin:0 auto;position:relative;border-bottom:1px solid #ccc}
.selectstyle2{width:66%;position:relative}
.selectstyle2 .dropp-header{border:1px solid #ccc}
.selectstyle.no-border{border-bottom:0 solid #ccc}
.selectstyle .dropp-header::before{position:absolute;content:'1';top:12%;left:-30px;width:25px;height:25px;text-align:center;border-radius:50%;border:1px solid #000;z-index:1;line-height:22px}
.border-right{border-right:1px solid #ccc}
.selectstyle .dropp-header.dropp-header2::before{position:absolute;content:'2';top:12%;left:-30px;width:25px;height:25px;text-align:center;border-radius:50%;border:1px solid #000;z-index:1;line-height:22px}
.selectstyle .dropp-header.dropp-header3::before{position:absolute;content:'3';top:12%;left:-30px;width:25px;height:25px;text-align:center;border-radius:50%;border:1px solid #000;z-index:1;line-height:22px}
.selectstyle .icon,.selectstyle2 .icon{display:block;position:relative;width:1.5em;height:1.5em;margin:0 auto}
.selectstyle .icon:before,.selectstyle .icon:after,.selectstyle2 .icon:before,.selectstyle2 .icon:after{content:"";position:absolute}
.selectstyle .dropp-header,.selectstyle2 .dropp-header{position:relative;color:#000;-webkit-box-align:stretch;-moz-box-align:stretch;box-align:stretch;-webkit-align-items:stretch;-moz-align-items:stretch;-ms-align-items:stretch;-o-align-items:stretch;align-items:stretch;-ms-flex-align:stretch;display:-webkit-box;display:-moz-box;display:box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;box-orient:horizontal;-webkit-box-direction:normal;-moz-box-direction:normal;box-direction:normal;-webkit-flex-direction:row;-moz-flex-direction:row;flex-direction:row;-ms-flex-direction:row;-webkit-box-pack:start;-moz-box-pack:start;box-pack:start;-webkit-justify-content:flex-start;-moz-justify-content:flex-start;-ms-justify-content:flex-start;-o-justify-content:flex-start;justify-content:flex-start;-ms-flex-pack:start}
.selectstyle .dropp-header__title,.selectstyle2 .dropp-header__title{padding:.8em .5em;-webkit-box-flex:8;-moz-box-flex:8;box-flex:8;-webkit-flex:8;-moz-flex:8;-ms-flex:8;flex:8;color:#000;font-size:13px;text-transform:capitalize;display:inline-block;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal}
.selectstyle .dropp-header__title span,.selectstyle2 .dropp-header__title span{color:#979797;font-size:10px;font-style:italic;text-transform:capitalize}
.selectstyle .dropp-header__btn,.selectstyle2 .dropp-header__btn{display:block;color:#fff;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;-webkit-flex:1;-moz-flex:1;-ms-flex:1;flex:1;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.selectstyle .interest-rate{color:#979797;font-size:14px;text-transform:capitalize}
.selectstyle .dropp-header__btn .icon,.selectstyle2 .dropp-header__btn .icon{-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg)}
.selectstyle .dropp-header__btn .icon:before,.selectstyle .dropp-header__btn .icon:after,.selectstyle2 .dropp-header__btn .icon:before,.selectstyle2 .dropp-header__btn .icon:after{top:27%;left:-8%;width:46%;height:8%;background:#979797;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.selectstyle .dropp-header__btn .icon:after,.selectstyle2 .dropp-header__btn .icon:after{top:55%;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.selectstyle .dropp-header__btn.js-open .icon,.selectstyle2 .dropp-header__btn.js-open .icon{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);margin-top:53%}
.selectstyle .dropp-header__btn.js-open .icon:before,.selectstyle .dropp-header__btn.js-open .icon:after,.selectstyle2 .dropp-header__btn.js-open .icon:before,.selectstyle2 .dropp-header__btn.js-open .icon:after{background:#979797}
.selectstyle .dropp-header__btn:focus,.selectstyle2 .dropp-header__btn:focus{outline:none}
.selectstyle .dropp-body,.selectstyle2 .dropp-body{overflow:hidden;width:100%;max-height:0;color:#ccc;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.selectstyle .dropp-visible,.selectstyle2 .dropp-visible{overflow:visible;width:100%;max-height:100%;color:#ccc;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.selectstyle .dropp-body.js-open,.selectstyle2 .dropp-body.js-open{max-height:20em}
.selectstyle .dropp-body ul,.selectstyle2 .dropp-body ul{padding:0;margin:0}
.selectstyle .dropp-body ul li,.selectstyle2 .dropp-body ul li{list-style:none;text-align:left;position:relative;background:#fff}
.selectstyle .dropp-body ul li:hover,.selectstyle2 .dropp-body ul li:hover{background:#f9f9f9}
.selectstyle .dropp-body ul li input[type=radio],.selectstyle2 .dropp-body ul li input[type=radio]{position:absolute;visibility:hidden}
.selectstyle ul li label,.selectstyle2 ul li label{display:block;position:relative;font-weight:300;font-size:15px;padding:6px 10px 29px 45px;margin:10px auto;height:30px;text-transform:capitalize;z-index:9;color:#979797;cursor:pointer;-webkit-transition:all .25s linear}
.selectstyle ul li:hover label,.selectstyle2 ul li:hover label{color:#979797}
.selectstyle ul li .check,.selectstyle2 ul li .check{display:block;position:absolute;border:1px solid #f79633;border-radius:100%;height:15px;width:15px;top:34%;left:20px;z-index:9;transition:border .25s linear;-webkit-transition:border .25s linear}
.selectstyle ul li:hover .check,.selectstyle2 ul li:hover .check{border:5px solid #f79633}
.selectstyle ul li .check::before,.selectstyle2 ul li .check::before{display:block;position:absolute;content:'';border-radius:100%;height:7px;width:7px;top:2px;left:2px;margin:auto;transition:background .25s linear;-webkit-transition:background .25s linear}
.selectstyle input[type=radio]:checked ~ .check,.selectstyle2 input[type=radio]:checked ~ .check{border:2px solid #f79633}
.selectstyle input[type=radio]:checked ~ .check::before,.selectstyle2 input[type=radio]:checked ~ .check::before{background:#f79633}
.selectstyle input[type=radio]:checked ~ label,.selectstyle2 input[type=radio]:checked ~ label{color:#000;background:#f9f9f9}
span.totalpayment{display:inline-block;font-size:18px;color:#000;font-weight:600}
span.totalpayment i{margin-right:2px}
a.makepay-btn,.makepay-btn{background:#0f7ca0;padding:5px 15px;color:#fff;font-size:14px;text-transform:capitalize;float:right}
.rowhead h6{font-size:12px;color:#000;font-family:AvenBo}
.rowhead p{color:#000;font-size:10px;text-transform:capitalize;font-weight:600}
.selectstyle ul li.tenurelist label{padding:3px 10px 23px 30px;color:#000;font-size:10px;margin:0 auto;text-transform:capitalize;font-weight:600}
.selectstyle ul li.tenurelist .check{display:block;position:absolute;border:1px solid #f79633;border-radius:100%;height:12px;width:12px;top:6%;left:20px;z-index:9;transition:border .25s linear;-webkit-transition:border .25s linear}
.selectstyle ul li.tenurelist .check::before{display:block;position:absolute;content:'';border-radius:100%;height:4px;width:4px;top:2px;left:2px;margin:auto;transition:background .25s linear;-webkit-transition:background .25s linear}
.selectstyle .dropp-body ul li.tenurelist:hover{background:#fff}
.selectstyle input[type=radio]:checked ~ label{color:#000;background:#fff}
.freq-used input.fu{position:absolute;visibility:hidden}
.freq-used label{padding:9px 10px 9px 16px;color:#000;font-size:10px;margin:0 auto;text-transform:capitalize;font-weight:600}
.freq-used .check{display:block;position:absolute;border:1px solid #f79633;border-radius:100%;height:12px;width:12px;top:16%;left:20px;z-index:9;transition:border .25s linear;-webkit-transition:border .25s linear}
.freq-used .check::before{display:block;position:absolute;content:'';border-radius:100%;height:6px;width:6px;top:2px;left:2px;margin:auto;transition:background .25s linear;-webkit-transition:background .25s linear}
.freq-used input.fu:checked ~ .check::before{background:#f79633}
.freq-used .fuspan{color:#979797;font-size:14px;text-transform:capitalize;font-family:AvenBo}
.freq-used .fup{color:#979797;font-size:10px;margin-top:.5rem;text-align:right}
.v-lock p{padding-left:30px;position:relative;margin-bottom:0;font-size:12px;font-family:AvenBo}
.v-lock p::before{content:'\f023';position:absolute;font-family:FontAwesome;top:-3px;color:green;left:6px;font-size:16px}
.freq-otp input.fu{position:absolute;visibility:hidden}
.freq-otp label{padding:5px 10px 9px 31px;color:#979797;font-size:14px;border:1px solid #ccc;margin:0 auto;text-transform:capitalize;font-weight:600}
span.otpspan{font-size:8px;margin-left:0;text-transform:capitalize}
.freq-otp label.otp{padding:5px 10px 30px 31px;width:100%}
.freq-otp .check{display:block;position:absolute;border:1px solid #f79633;border-radius:100%;height:12px;width:12px;top:16%;left:20px;z-index:9;transition:border .25s linear;-webkit-transition:border .25s linear}
.freq-otp .check::before{display:block;position:absolute;content:'';border-radius:100%;height:6px;width:6px;top:2px;left:2px;margin:auto;transition:background .25s linear;-webkit-transition:background .25s linear}
.freq-otp input.fu:checked ~ .check::before{background:#f79633}
.editcard-d a,.editcard-d a:hover,.editcard-d a:focus{color:#0F7CA0;font-size:11px;text-transform:capitalize;font-weight:600;margin-right:5px}
.editcard-d i{color:#f79633;margin-right:2px}
p.redirectbank{color:#979797;font-size:10px;text-transform:capitalize;font-weight:600;text-align:right;margin-top:8px;font-style:italic}
.rowhead > .row > .col-md-12:first-child{background:#f9f9f9;padding-top:.2rem;padding-bottom:.2rem;height:50px}
.cardselection{width:80%;margin:0 auto;position:relative}
.cardselection p{color:#979797;font-size:8px;margin:0 auto;text-transform:capitalize;font-weight:600}
.cardinput label{margin-bottom:0;color:#979797;font-size:9px;text-transform:capitalize;font-weight:600}
.cardinput input{width:300px;border-radius:0;-webkit-:0;-moz-border-radius:0;-o-border-radius:0;-ms-border-radius:0}
.cardinput input::placeholder{text-align:center;font-size:11px;margin-bottom:0;color:#0f7ca0;letter-spacing:1px;text-transform:capitalize}
.cardinput .form-group{margin-bottom:.2rem}
.msgbg.msgbggrey{background:#f9f9f9}
.msgbg.msgbggrey p{color:#9b9b9b}
.cardinput2 select.form-control,.cardinput2 select.form-control:focus{border-radius:0;-webkit-:0;-moz-border-radius:0;-o-border-radius:0;-ms-border-radius:0;height:30px!important;padding:.2rem;outline:none;color:#979797}
.cardinput2 input{border-radius:0;-webkit-:0;-moz-border-radius:0;-o-border-radius:0;-ms-border-radius:0;height:30px;padding:.2rem}
.cardinput2 input::placeholder{color:#979797;font-size:10px;text-transform:capitalize;font-weight:600;letter-spacing:1px}
.cardinput2 label{margin-bottom:0;color:#979797;font-size:8px;text-transform:capitalize;font-weight:600}
.cardinput2 span{color:#000;font-size:8px;text-transform:capitalize;font-weight:600}
.msgbg{background:#fffdd0}
.msgbg p{color:red}
.squaredThree{width:20px;position:relative;float:left}
.squaredThree label{width:15px;height:15px;cursor:pointer;position:absolute;top:5px;left:0;margin-bottom:0;background:#f79633;border-radius:4px}
.squaredThree label:after{content:'';width:9px;height:5px;position:absolute;top:4px;left:4px;border:3px solid #fcfff4;border-top:none;border-right:none;background:transparent;opacity:0;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.squaredThree label:hover::after{opacity:.3}
.squaredThree input[type=checkbox]{visibility:hidden}
.squaredThree input[type=checkbox]:checked + label:after{opacity:1}
.savecard span{display:inline}
.otherbank{color:#979797;font-size:8px;text-transform:capitalize;font-weight:600}
.tabcon > h2.resp-accordion,.tabcon > h2.resp-accordion.resp-tab-active{font-size:13px;position:relative;padding:10px 10px 10px 65px !important}
.tabcon > h2.resp-accordion.resp-tab-active{background:#fff!important;color:#9b9b9b;text-transform:capitalize;font-size:12px;font-weight:600}


.custom-select-s { position: relative; }
.custom-select-s select { display: none; }
.select-selected { background-color:#fff; color:#005584 !important } 
.select-selected:after { position: absolute; content: "+"; top: 14px; right:20px; width:20px; height:20px; border:1px solid #ccc;line-height: 1; text-align: center; color: #666;}
.select-selected.select-arrow-active:after {content: "-";} 
.select-items div,
.select-selected { color: #000; padding:8px 5px; border: 1px solid transparent; border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent; cursor: pointer; user-select: none; } 
.select-items { position: absolute; background-color:#fafafa; top: 100%; left:15px; right:15px; z-index: 99;-webkit-box-shadow: 0 4px 3px 0 rgba(0,0,0,.1); box-shadow: 0 4px 3px 0 rgba(0,0,0,.1);} 
.select-hide { display: none; }
.select-items div:hover,
.same-as-selected { background-color: rgba(0, 0, 0, 0.1); }

.product-box1.comBoD {background:#fafafa;margin: 10px 0px;}
.product-box1.comBoD figure {margin:0;}
.product-box1.comBoD figure figcaption { width: 180px;}
.product-box1.comBoD .bottom-link {position:relative; padding:0;}
.product-box1.comBoD .bottom-link a {position:absolute;background:#fff; color:#0081ff; border:0; text-transform:inherit;    top: -50px;font-size: 16px; padding: 10px 5px; width: 40%; left:20%}
.product-box1.comBoD .bottom-link a.bl-btn {position:absolute; background:#0081ff; color:#fff; border:0; text-transform:inherit; top: -50px;font-size: 16px; padding: 10px 5px; width: 40%; left:20%}

.comBoDVerti {background: #fff; -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.2); box-shadow: 0 0 5px 0 rgba(0,0,0,.2); margin: 10px 0px;}
.comBoDVerti figcaption {overflow:hidden; padding:0 15px 15px;}
.comBoDVerti figcaption .bl-btn {background:#0081ff; color:#fff; font-size: 16px; padding:10px 5px 12px; display:block; text-align:center; line-height:1;}
.comBoDVerti .w2 { width:50%; float:left}
.comBoDVerti .w1 {float:left ;width:100%}
.product-box1.comBoD .bottom-link a.bl-btn:hover,
.product-box1.comBoD .bottom-link a:hover,
.comBoDVerti figcaption .bl-btn:hover {background:#6c757d; color:#fff}

.payment-logos li { float: left; text-indent: -9999px; margin:0 10px 10px 0; background-image: url(../images/spritesheet.png?1481802524079); background-position: 0 -60px; width: 67px; height: 40px; }
.payment-logos .visa { background-position: -67px -100px; }
.payment-logos .mastercard { background-position: -267px -200px; }
.payment-logos .amex { background-position: 0 -140px;}
.payment-logos .paypal { background-position: -267px -120px; }

.table tr.FreeGread td {border-top:transparent; padding-top:.1rem;}
.table tr.FreeGread td:first-child {padding-left:25px;}

.CreatOnCombo.HomeCom a {margin: 0 5px 0 -15px; display: block;}
.CreatOnCombo img {border:1px solid #ccc; padding:3px;}

.br-rD-1:after {position:absolute; width:1px; right:0; top:8%; bottom:8%; background:#ccc; content:''; z-index:1 ;}
.comboOnBrand:after {position:absolute; left:-12px; right:-12px; top:0; bottom:0; border:1px solid #dee2e6; content:''; z-index:1 ;}
.comboOnBrand>div {position:relative;  z-index:2;}
.comboOnBrand .comboDetails  p {color:#333}
.comboOnBrand .comboDetails  h4 {color: #005584; font-size:16px;padding:11px 5px 10px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); margin-bottom: 6px;}



@media (min-width:576px) {
.order-last1 { -webkit-box-ordinal-group: 14; -ms-flex-order: 13; order: 13; }
}
@media (min-width: 768px) {
.off-canvas-nav .list-inline {display:none !important}
.box2 {width:43%;display:inline-block; margin-right:2%}
.mobileBanner {display:none !important}
.table-responsive {overflow:inherit}
}

@media (min-width:992px) {
.navbar-light .navbar-brand {display:none;}
.navbar {padding: 0;}
.navbar-expand-md .navbar-nav .nav-link {font-size:13px;font-weight:400;}
.navbar .fas {font-size: 10px; }
.navbar-expand-md .navbar-nav .nav-link {padding: 1.1rem .75rem; line-height: 1;}
.show-mobile {display:none;}
.login-arya:after {position:absolute; top:50%; right:50%; height:200px; width:1px; background:#ccc; content:''; margin-top:-100px}
.btn {padding: .375rem 1.75rem;}
}

@media (min-width:1200px) {
.container { max-width:1170px;}
.navbar .container { max-width:1170px;}
.navbar .customDropdownMenu .container { max-width:1120px;}
.navbar .fas {font-size: 12px; }

}
@media (max-width:991px) {
.container { max-width:100%;}
.desktop-logo-arye {display:none;}
.navbar {padding-top:5px; padding-bottom:5px;}
header.row {border-bottom:1px solid #ccc}
.top-links {margin:0; font-size:13px}
#home-slider .carousel-caption {bottom:10px}
#home-slider .carousel-caption h5 {font-size:20px; padding:10px 20px; line-height:1; margin:0}
.search-box .search-form .text-fild {font-size:90px}
.by-btn, .bottom-nav a {font-size: 10px;}
.navbar-expand-md .navbar-nav .nav-link { padding:1rem 1rem;  }
.applyOfferBOx,
.navbar-expand-md {display:none;}
.offer-box .applyOfferBOx {display:block;}
.show-mobile {display:block;}
.product-gradArya {padding-left: 15px;}
.offer-box {    border-top: 1px solid #c1c1c1; margin-top:20px}
}
@media (max-width:850px) {
.top-icon-arye .list-inline-item:not(:last-child) { margin-right: .5rem;}
}
@media (max-width:767px) {
body,
html {overflow-x:hidden; height:100%;-webkit-overflow-scrolling:touch;} 
.desktopBanner {display:none !important}
#home-slider .carousel-caption {bottom:5px}
#home-slider .carousel-caption h5 {font-size:16px; padding:5px 20px; line-height:1; margin:0}	
.search-box .search-form .text-fild {font-size:60px}
.top-links {position: relative;}
.top-links li {position: static;}
.cart-box {left:0; right:0; width:100%}
.top-icon-arye .list-inline-item {display:none}
.top-icon-arye .list-inline-item#cart-box {display:inherit}
.my-overlaw,
.cart-box {display:none !important}
.store-locater-box .search-form .text-fild {font-size: 30px;}
.form-coopan-box {display:none}
.leftSearch {display:block} 
.leftSearch .form-coopan-box {display:block; width:100%; box-shadow:none; padding:14px 10px;background: #e6e6e6; }
.leftSearch .form-coopan-box .form-control {font-size: 14px; border: 0; }
.outline-style .modal-body .qty, .outline-style .modal-body .button {width: 15px;}
.gyftrGifts { padding-top: 10px;}
.btnsG {padding-top: 10px;}
ul.resp-tabs-list{display:none}
h2.resp-accordion{display:block}
.resp-vtabs .resp-tab-content{border:1px solid #C1C1C1}
.resp-vtabs .resp-tabs-container{border:none;float:none;width:100%;min-height:initial;clear:none}
.resp-accordion-closed{display:none!important}
.resp-vtabs .resp-tab-content:last-child{border-bottom:1px solid #c1c1c1!important}

 .gyftr-payment-options .resp-vtabs li.fu::before, .resp-accordion:nth-child(1)::before { position: absolute; left: 15px; content: ''; background: url(../card/freqused.png) no-repeat; width: 36px; height: 24px;top: 8px; }
.brandpage{  font-size: 20px;}
.tabcon h2.resp-tab-active span.resp-arrow {border: none; border-left: 0px solid transparent; border-right: 0px solid transparent;  border-bottom: 0px solid #9B9797;  background: url(../images/select-arrow2.png) no-repeat ;}
.tabcon .resp-arrow { width: 20px;  height: 20px; border-left: 0px solid transparent; border-right: 0px solid transparent; border-top: 0px solid #9B9797;   background: url(../images/select-arrow.png) no-repeat ; }
}

@media (max-width:575px) {
.top-gry .text-left .top-links {display:none}
.top-gry .text-right .top-links {text-align:center}
.search-box .search-form .text-fild { font-size: 30px;}
.filter-arya .btn { padding:10px 10px; border-top:1px solid #c5c5c5;}
.filter-arya .col-sm-8 {-webkit-box-flex: 0; -ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%; position: inherit;padding:0}
.filter-arya .col-sm-8 .col-sm-6 {-webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; position: inherit;padding:0}
.filter-arya .col-sm-4 {-webkit-box-flex: 0; -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%; position: inherit; padding:0}
.filter-arya .dropdown, .dropup {position: inherit;}
.filter-arya .container {position: relative;padding:0}
.inner-images h3 {font-size: 20px; }
.validityBox {border:0;border-top:1px solid #ccc; padding-top:15px}
.product-gradArya .col-sm-6 {-webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
.col-6.aressBox { -webkit-box-flex: 0; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width:100%; }

.myAccount-arya .myAccount-left h4 { display: block;font-size: 18px; text-transform: uppercase;padding: 8px 16px; background: #efedf2; position:relative; cursor:pointer;}
.myAccount-arya .myAccount-left h4:after {content:'+'; right:10px; position:absolute; top: 8px;}
.myAccount-arya .myAccount-left h4.openMEnu:after {content:'-'; top: 8px;}
.myAccount-arya .myAccount-left .nav li.last {margin:0}
.myAccount-left  {margin-bottom:30px; border-right: 0 !important;}
.myAccount-left ul {display:none; margin: 0 20px;}

.new-mobile .product-box1 figure figcaption>div div.box-5 span:first-child { text-align: center; }
.new-mobile .share { display:none;}
.new-mobile .product-box1 figure { margin: 0;    padding-right: 0;}
.new-mobile .product-box1 figure>img { opacity: 0;}
.new-mobile.product-gradArya {  padding-left: 0;}
.new-mobile .product-box1 figure figcaption {left: 8px; width:inherit}
.new-mobile .product-box1 figure figcaption>div {    width: 100%;}
}

@media (max-width:479px) {
.product-gradArya .col-sm-6 {-webkit-box-flex: 0; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}	
.new-mobile .product-box1 figure {padding-right:150px;}
}

@media (max-width:400px) {
.new-mobile .product-box1 figure {padding-right:70px;}
}
